<form class="editForm" data-ng-submit="submitForm()">
    <h2>Edit</h2>
    <div class="formCategory">
        <label>Category</label><br />
        <select data-ng-model="form.category">
            <option value="" selected>Select the category</option>
            <option value="cars">Cars</option>
            <option value="houses">Houses</option>
        </select><br />
    </div>
    <label>Title</label><p> (max. 40 char.)</p><br />
    <input type="text" class="formTitle" placeholder="e.g. Volvo S60" data-ng-model="form.title" maxlength="40" /><br />
    <label>Description</label><p> (350-700 char.)</p><br />
    <textarea class="formDescription" placeholder="Describe the stuff you want to sell" data-ng-model="form.description" maxlength="700" value="item.description"></textarea><br />
    <div class="formPriceEdit">
        <label>Price(&euro;)</label><p> (max. 9 char.)</p><br />
        <input type="text" placeholder="e.g. 50 or 19.99" data-ng-model="form.price" maxlength="10" /><br />
    </div>
    <div class="contact_information">
        <div class="formCategory">
            <label>City</label><br/>
            <select data-ng-model="form.city" required>
                <option value="" selected>Select the city</option>
                <option value="Helsinki">Helsinki</option>
                <option value="Turku">Turku</option>
            </select><br/>
        </div>
        <label>Name</label><p> (max. 30 char.)</p><br/>
        <input type="text" class="formTitle" placeholder="e.g. Pavel Bure" data-ng-model="form.name" maxlength="30"/ required><br/>
        <label>Telephone number</label><p> (max. 10 char.)</p><br/>
        <input type="text" class="formTitle" placeholder="e.g. 0461112233" data-ng-model="form.phone" maxlength="10" required/><br/>

    </div>
    <flex-slider slide="img in form.img">
        <li>
            <img data-ng-src="{{ img }}">
        </li>
    </flex-slider>
    <div class="formButton">
        <button type="submit" data-icon="&#xe60a;" data-ng-click="send()"></button>
        <button type="submit" data-icon="&#xe609;" data-ng-click="cancel()"></button>
    </div>
</form>
