<form class="loginForm" name="loginForm" data-ng-submit="submit()" novalidate>

    <h2>Sign in</h2>

    <label>E-mail</label><br/>
    <input type="email" data-ng-model="form.email" data-ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" watch-change="errNull()" name="email" autofocus required/><br/>

    <label>Password</label><br/>
    <input type="password" data-ng-model="form.password" data-ng-pattern="/^[a-z0-9_-]{6,12}$/" watch-change="errNull()" name="password" required/><br/>

    <button class="button button-action button-large button-rounded" type="submit" data-ng-disabled="loginForm.email.$error.required || loginForm.password.$error.required || loginForm.email.$error.pattern || loginForm.password.$error.pattern" data-icon="&#xe60a;"></button>
    
    <div data-ng-if="err" id="errSign"><div class="data_icon" data-icon="&#xe607;"></div> {{ err }}</div>
    
    <div class="captcha"
        vc-recaptcha
        theme="'light'"
        key="model.key"
        on-create="setWidgetId(widgetId)"
        on-success="setResponse(response)"
    ></div>

</form>
