<form class="loginForm" data-ng-submit="submit()">

    <h2>Sign in</h2>

    <label>Username</label><br/>
    <input type="email" data-ng-model="form.email" name="email" autofocus/><br/>

    <label>Password</label><br/>
    <input type="password" data-ng-model="form.password" name="password"/><br/>

    <button type="submit" data-icon="&#xe60a;"></button>
    
    <p>{{ errorMessage }}</p>
    
    <div class="recaptcha"
        vc-recaptcha
        theme="'light'"
        key="model.key"
        on-create="setWidgetId(widgetId)"
        on-success="setResponse(response)"
    ></div>

</form>
