<!DOCTYPE HTML>

<html lang="en" data-ng-app="tori">

    <head data-ng-controller="headCTRL">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Tori</title>
        <script src="//use.typekit.net/pat2oal.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/ngDialog.min.css"/>
        <link rel="stylesheet" href="/css/ngDialog-theme-default.css"/>
        <link rel="stylesheet" href="/css/ngDialog-theme-plain.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
		<link rel="stylesheet" href="/css/manual.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/animate.css"/>
        <link rel="stylesheet" href="/css/buttons.css"/>
        <link rel="stylesheet" type="text/css" href="/bower/flexslider/flexslider.css">
        <link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
        <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
        <base href="/">
    </head>

    <body>

        <div class="wrapper">

            <header id="navctrl" data-ng-controller="navController">
                <div class="logo"><a data-ng-href="/list/all/1">Tori</a></div>
                <nav>
                    <ul>
                        <li data-ng-click="go('/item/new')"><a data-icon="&#xe605;">place an ad</a></li>
                        {{#unless user}}
			            <li data-ng-click="signin()"><a data-icon="&#xe601;">sign in</a></li>
			            {{/unless}}
			            {{#if user}}
			            <li data-ng-click="get('/api/signout')"><a data-icon="&#xe603;">sign out</a></li>
			            {{/if}}
                    </ul>
                </nav>
            </header>
	
	        <div class="top_container" data-ng-controller="filterController">
                <ul>
                    <li data-ng-class="{'selected': $root.weareon=='all'}" data-ng-click="go('/list/all/1')">all</li>
                    <li data-ng-class="{'selected': $root.weareon=='cars'}" data-ng-click="go('/list/cars/1')" data-icon="&#xe604;">cars</li>
                    <li data-ng-class="{'selected': $root.weareon=='houses'}" data-ng-click="go('/list/houses/1')" data-icon="&#xe600;">houses</li>
                </ul>
                <ul class="right">
                    {{#if user}}
                    <li data-ng-class="{'selected': $root.weareon=='user'}" data-ng-click="go('list/user/1')" data-icon="&#xe602;">unapproved</li>
                    {{/if}}
                </ul>
            </div>

            <section data-ng-view=""></section>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="/bower/flexslider/jquery.flexslider.js"></script>
            <script src="/bower/angular/angular.min.js"></script>
            <script src="/bower/angular-flexslider/angular-flexslider.js"></script>
            <script src="/bower/angular-route/angular-route.min.js"></script>
            <script src="/js/app/ng-file-upload-all.min.js"></script>
            <script src="/js/app/app.js"></script>
            <script src="/js/app/controllers.js"></script>
            <script src="/js/app/list.js"></script>
            <script src="/js/app/item.js"></script>
            <script src="/js/app/ngDialog.min.js"></script>
            <script src="/bower/angular-scroll/angular-scroll.min.js"></script>
            <script src="/bower/angular-recaptcha/release/angular-recaptcha.min.js"></script>

        </div>

    </body>

</html>